




*, *::before, *::after{
  outline: tomato solid 1px;
  padding: 0px 0px;
}



p{
  margin: 0 ;
}

li{
  margin: 0;
  list-style-type: none;
}

body{
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
}


.flex-header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.navigation{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 50px;
}

.navigation > *{
    
}

.menu__btn{
  display: flex;
  height: 75px;
  cursor: pointer;

}

.hamburger-menu{
  position: relative;
  
}

.container{
  padding: 0 50px;
}

.logo{
  margin-right: 1000px;
}

.navigation > a{
  display: inline;
  height: 75px;
  padding-top: calc(75px/2 - 10px);
  cursor: pointer; 
  text-decoration: none;
  color: inherit;
  
}



  /* контейнер меню */
.menu__box {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;

    
    
    gap: 10px;
    position: absolute;
    visibility: hidden;
    margin: 0;
    width: 220px;
    left: -85px;
    padding: 15px 15px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    
  }
  /* элементы меню */
  .menu__item > a {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 90px;
  }

  .menu__item > a > img{
    justify-self: center;
    
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .hamburger-menu > a{
    display: block;
    width: 30px;
    height: 30px;
  }

  .hamburger-menu > .menu__close{
    display: none;
  }


  .menu__box:target {
    visibility: visible;
    top: 100%;
  }


  .menu__box:target ~ .menu__open{
    display: none;
  }

  .menu__box:target ~ .menu__close{
    display: block;
  }




 

  .menu__box--more {
    position: absolute;
    /* display: flex; */
    flex-direction: column;
    flex-wrap: wrap;  
    gap: 10px;
    margin: 0;
    width: 220px;
    left: -85px;
    top: 75px;
    padding: 15px 15px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    width: 220px;
  

    display: none;
    
   }

   .menu__box--more:target {
    display: flex;
   }


   
  .menu__box--more:target ~ .menu__close{
    display: block;
  }


  .menu__box--more:target ~ .menu__open{
    display: none;
  }



.menu__box {
  /* transition-duration: .25s; */
}
.menu__item {
  /* transition-duration: .25s; */
}


.menu__item--more > a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 90px;

}

.menu__btn--more{
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
}
