




*, *::before, *::after{
  outline: tomato solid 1px;
  padding: 0px 0px;
}

body{
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
}


.flex-header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.navigation{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 50px;
}

.navigation > *{
    
}

.menu__btn{
  position: absolute;
  top: calc(75px/2 - 15px);

}

.hamburger-menu{
  position: relative;
}

.container{
  padding: 0 50px;
}

.logo{
  margin-right: 1000px;
}

.navigation > a{
  display: inline;
  height: 75px;
  padding-top: calc(75px/2 - 10px);
  cursor: pointer; 
  text-decoration: none;
  color: inherit;
  
}
























/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    width: 30px;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    justify-content: flex-end;
    cursor: pointer;
  }


  /* контейнер меню */
.menu__box {
    display: flex;
    flex-direction: column;
    
    
    gap: 10px;
    position: absolute;
    visibility: hidden;
    margin: 0;
    width: 200px;
    left: -85px;
    padding: 15px 15px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: inherit;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }




  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 100%;
  }



.menu__box {
  /* transition-duration: .25s; */
}
.menu__item {
  /* transition-duration: .25s; */
}
