




*, *::before, *::after{
  outline: tomato solid 1px;
  padding: 0px 0px;
}


p{
  margin: 0 ;
}

li{
  margin: 0;
}

body{
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
}


.flex-header{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}

.navigation{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    margin-right: 50px;
}

.navigation > *{
    
}

.menu__btn{
  display: flex;
  height: 75px;
  cursor: pointer;

}

.hamburger-menu{
  position: relative;
  
}

.container{
  padding: 0 50px;
}

.logo{
  margin-right: 1000px;
}

.navigation > a{
  display: inline;
  height: 75px;
  padding-top: calc(75px/2 - 10px);
  cursor: pointer; 
  text-decoration: none;
  color: inherit;
  
}
























/* скрываем чекбокс */
#menu__toggle {

    opacity: 0;
    width: 30px;
    z-index: -1;
    position: absolute;
  }


  /* контейнер меню */
.menu__box {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;

    
    
    gap: 10px;
    position: absolute;
    visibility: hidden;
    margin: 0;
    width: 220px;
    left: -85px;
    padding: 15px 15px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    
  }
  /* элементы меню */
  .menu__item > a {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 90px;
  }

  .menu__item > a > img{
    justify-self: center;
    
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }




  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    top: 100%;
  }



.menu__box {
  /* transition-duration: .25s; */
}
.menu__item {
  /* transition-duration: .25s; */
}


.menu__item--more{
  width: 100;

}

.menu__item--more > a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 90px;
}

#menu__toggle--more{
  opacity: 0;
  z-index: -1;
  position: absolute;

}

.menu__btn--more{
  display: block;
  cursor: pointer;
  position: relative;
  /* top:0px ; */
}


.menu__box--more {
  display: flex;
  flex-wrap: wrap;

  
  
  gap: 10px;
  position: absolute;
  visibility: hidden;
  margin: 0;
  width: 220px;
  left: -85px;
  top: 350px;
  padding: 15px 15px;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
}
  

#menu__toggle--more:checked ~.menu__box--more {
  visibility: visible;
  
}



/* #menu__toggle:not(:checked) ~ .menu__box--more {
  visibility: hidden; 
  
} */


#menu__toggle--more:checked ~.menu__btn--more {
  /* opacity: 0; */
  /* z-index: -1; */
  position: absolute;
  /* top: 30px; */
}


.menu__btn--empty{
  z-index: 999;
  position: absolute;  
  top: -75px;
  height: 75px;
  width:30px
  
  

}